<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to "ALPAH BLOG", root_path, calss: "navbar-brand", id: "logo",style: "text-decoration: none"  %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">
          <%= link_to 'Bloggers', users_path, class: "nav-link"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "Create new article", new_article_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "View article", articles_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <% if logged_in? %>
          <% puts ""%>  
          <li class="nav-item">
            <%= link_to 'Log out', logout_path, class: "nav-link", method: :delete %>
          </li> 
          <li class="nav-item">
            <%= link_to current_user.username, user_path(current_user), class: "nav-link" %>
          </li>           
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log in', login_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', signup_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>  
